.about {
  margin-top: 2rem;
  background-color: #dfe1ff;
  width: screen;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

.about__container {
  width: 71rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about p {
  max-width: 47rem;
}

@media screen and (max-width: 768px) {
  .about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about__container {
    max-width: screen;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .about h1 {
    font-size: 22px;
  }
  .about p {
    font-size: 14px;
  }
}
